.api {
    .subtitle {
        width: 70%;
    }
}

.api__code {
    font-size: 0.65rem;
}

.api__transactions {
    .title {
        padding-left: 20px;
    }
}

.api__transactions__item--selected {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #191919 0%, rgba(25, 25, 25, 0) 100%);
    border-radius: 2px;
    height: 56px;
    cursor: pointer;
}

.api__transactions__item--notselected {
    display: flex;
    align-items: center;
    height: 56px;
    cursor: pointer;
    span {
        display: none;
    }
}

.api__transactions__item__trace {
    width: 1%;
    height: 100%;
    background-color: #D4D73B;
}

@media (min-width: $tablet) {
    .api__code {
        font-size: 1.5rem;
    }

    .api__transactions__item--selected {
        height: 64px;
    }

    .api__transactions__item--notselected {
        height: 64px;
    }
}
