.intro__mockup {
    img {
        width: 100%;
    }
}

.intro__registered {
    margin-top: 25px;
    display: flex;
    align-items: center;
    img {
        width: 56px;
        height: 24px;
    }
}
