.register__background {
    border-radius: 5px;
    background: #191919;
    padding: 24px;
}

.register__form-content__form-group {
    margin-top: 25px;
    input {
        margin: auto;
        border: none;
        padding: 10px 32px;
        font-size: 1.4rem;
        font-family: "JetBrains Mono";
        height: 100%;
        width: 100%;
    }
}

.border--input {
    border: 1px solid white;
    padding: 0;
    height: 56px;
    width: 100%;
}

.border__input {
    @extend %border-content;
}

.register__form-content__btn {
    margin-top: 45px;
}
